@model ClassList.Models.RPGClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RPGClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialAbility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialAbility)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary text-white">Edit</a>
    <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
</div>
